{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Add Photo</h1>

{% include 'flash_messages.html' %}


{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('addPhoto') }}" method="post" enctype="multipart/form-data">

  {# Add the file upload field as you learnt for Flask-WTF #}
 
   <div class="form-group mb-3">
    {{ form.photo.label(class="form-label") }}
    {{ form.photo(class="form-control") }}
  </div>

   <div class="form-group mb-3">
    {{ form.series.label(class="form-label") }}
    {{ form.series(class="form-control") }}
  </div>
  
  <div class="form-group mb-3">
    {{ form.genre.label(class="form-label") }}
    {{ form.genre(class="form-control") }}
  </div>
  
  <button type="submit" name="submit" class="btn btn-primary">Add Photo</button>
</form>
{% endblock %}
